@using Example.Dto.Sys.RoleManage
@model QueryConditionDto
<table>
    <tr>
        <td>@Html.LabelFor(t => t.RoleName)</td>
        <td>@Html.TextBoxFor(t => t.RoleName, new { @class = "easyui-textbox", @placeholder = "角色名称" })</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
