@using Example.Dto.Sys.PermissionManage
@model QueryConditionDto
<table>
    <tr>
        <td>@Html.LabelFor(t => t.PermissionName)</td>
        <td>@Html.TextBoxFor(t => t.PermissionName, new { @class = "easyui-textbox", placeholder = "权限名称" })</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
