/* * easyui * 样式重写 */
/*easyui-tree*/
.tree-node {border-left:3px solid transparent;}
.tree-node-selected {background-color:#ebebeb;border-left:3px solid #f5f5f5;color:#333;}
/*行选中*/.datagrid-row-selected {background: #3c8dbc;color: #fff;}
.combobox-item-selected {background-color: #3c8dbc;color:#fff;}
/*分类面板选中*/.accordion .accordion-header-selected {background:#f5f5f5;}
/*easyui-icons*/.tree-expanded,.tree-collapsed,.tree-folder,.tree-folder-open,.tree-file,.tree-checkbox,.tree-indent {display:inline-block;width:16px;height:18px;width:16px;vertical-align:central;overflow:hidden;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;background:none;text-align:center;line-height:18px;}
.tree-file:before {content:"\f15b";}
.tree-folder:before {content:"\f07b";}
.tree-folder-open:before {content:"\f07c";}
.tree-collapsed:before {width:12px;content:"\f196";}
.tree-expanded:before {width:12px;content:"\f147";}
.tree-checkbox:before {content:"\f046";}
.tree-checkbox0:before {content:"\f096";}
.tree-checkbox2:before {content:"\f0c8";}
/* * artdialog  * 样式重写 */.ui-dialog-title {line-height:1.0;padding:12px;}
.ui-dialog-close {top:10px;right:10px;opacity:0.5;}
.ui-dialog-close:hover {opacity:0.9;}
.artdialog-warning {color:white;background:#cc312c;border:1px solid #bb2b27;}
.artdialog-success {color:white;background:#5cb85c;border:1px solid #429e42;}
.ui-dialog-footer button.ui-dialog-autofocus {color:#ffffff;background-color:#f5f5f5;border-color:#38556A;}
.ui-dialog-footer button.ui-dialog-autofocus:hover,.ui-dialog-footer button.ui-dialog-autofocus:focus,.ui-dialog-footer button.ui-dialog-autofocus:active {color:#ffffff;background-color:#f5f5f5;border-color:#38556A;}
/*lsUI*/.ls-menu-panel {position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;right:auto;width:120px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175);}
.ls-menu-panel li {padding:5px 15px;}
.ls-menu-panel li:hover {background:#f5f5f5;cursor:pointer;}
.ls-menu-panel li i {padding-right:3px;width:14px;}
/*ls-panel*/.ls-panel {margin:10px;background-color:#fff;border:1px solid transparent;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);box-shadow:0 1px 1px rgba(0,0,0,.05);}
.ls-panel-primary {border-color:#337ab7;}
.ls-panel-green {border-color:#5cb85c;}
.ls-panel-yellow {border-color:#f0ad4e;}
.ls-panel-red {border-color:#d9534f;}
.ls-panel-content {height:80px;}
.ls-panel-content-primary {background-color:#337ab7;color:white;}
.ls-panel-content-green {background-color:#5cb85c;color:white;}
.ls-panel-content-yellow {background-color:#f0ad4e;color:white;}
.ls-panel-content-red {background-color:#d9534f;color:white;}
.ls-panel-footter {height:25px;}
.ls-panel-footter-primary {color:#337ab7;}
.ls-panel-footter-green {color:#5cb85c;}
.ls-panel-footter-yellow {color:#f0ad4e;}
.ls-panel-footter-red {color:#d9534f;}
.ls-btn-icon-sl {position:absolute;right:0;z-index:9;line-height:27px;height:25px;padding:1px 6px;margin-right:1px;margin-top:1px;border-left:1px solid #ddd;border-radius:0 3px 3px 0;}
.ls-btn-icon-sl:hover {background:#eee;cursor:pointer;}
.ls-icon-item {padding:8px;border:1px solid #ddd;border-radius:3px;margin:2px;}
.ls-icon-item:hover {background:#eee;cursor:pointer;}
