<ion-view view-title="密码修改">
    <ion-content class="padding">

                <form name="myForm" novalidate="novalidate">
                    <div class="list list-inset">

                        <label class="item item-input">
                            <i class="icon ion-android-lock positive"></i>
                            <input type="password" style="padding-left: 15px" placeholder="请输入原密码" name="oldpassword"  ng-model="formData.oldpassword" ng-maxlength=15 required/>
                        </label>
                        <label class="item item-input" style="color:red" ng-show="myForm.oldpassword.$dirty && myForm.oldpassword.$invalid">
                            <span>请输入原密码</span>
                        </label>
                        <label class="item item-input">
                            <i class="icon ion-android-lock positive"></i>
                            <input type="password" style="padding-left: 15px" placeholder="请输入新密码" name="newpassword1"  ng-model="formData.NewPassword" ng-maxlength=15 required/>
                        </label>
                        <label class="item item-input" style="color:red" ng-show="myForm.newpassword1.$dirty && myForm.newpassword1.$invalid">
                            <span>请输入新密码</span>
                        </label>
                        <label class="item item-input">
                            <i class="icon ion-android-lock positive"></i>
                            <input type="password" style="padding-left: 15px" placeholder="请再次输入新密码" name="newpassword2"  ng-model="formData.NewPassword1" ng-maxlength=15 required/>
                        </label>
                        <label class="item item-input" style="color:red" ng-show="myForm.newpassword2.$dirty && (myForm.newpassword2.$invalid||formData.NewPassword!=formData.NewPassword1)">
                            <span>两次输入的新密码不相同</span>
                        </label>
                        <input class="button  button-block  button-positive"  ng-disabled="formData.NewPassword!=formData.NewPassword1||myForm.$invalid" ng-click="save()" value="保存" />

                    </div>
                </form>

    </ion-content>
</ion-view>