<ion-view view-title="版本信息">
    <ion-content class="padding">
        <div style="text-align:center">
            <img src="AppPhone/img/icon_more.png" />
            <h2> 易巴士长途客票网 </h2>
            <h4>版本号：{{CurAppVersion}}</h4>
            <p>技术支持：南京特捷交通技术系统有限公司</p>
        </div>
        <div>
            <button class="button button-full button-calm" ng-click="checkUpdate()">检查更新</button>

            <!--<button class="button button-full button-calm" ng-click="showTimeOut('秒后即将跳转',5,{alert('xxxx');})">检查更新</button>-->
        </div>
    </ion-content>
</ion-view>