@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin:auto auto;width:500px; margin-top:50px;">
        <span style="font-size: 150px; color:#c63e3e; font-family:'Agency FB'; font-weight: bolder;">500</span>
    </div>
    <div style="margin:auto auto;width:500px;">
        <span style="font-size: 25px; color: #333; font-family:黑体; font-weight: bolder;">额~页面出错了...</span>
    </div>
</body>
</html>
