@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="margin:auto auto;width:500px; margin-top:50px;">
        <span style="font-size: 150px; color: rgb(74, 126, 195); font-family:'Agency FB'; font-weight: bolder;">404</span>
    </div>
    <div style="margin:auto auto;width:500px;">
        <span style="font-size: 25px; color: #333; font-family:黑体; font-weight: bolder;">额~您访问的页面不存在...</span>
    </div>
</body>
</html>
