@using Example.Dto.Auth
@model IEnumerable<PermissionMenuDto>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/easyui/themes/material/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/ls/ls.common.js"></script>
    <script src="~/Scripts/ls/ls.controls.js"></script>
    <script src="~/Scripts/ls/ls.layout.index.js"></script>
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <script src="~/Components/artDialog/js/dialog-plus.js"></script>
    <link href="~/Components/artDialog/css/ui-dialog.css" rel="stylesheet" />
    <link href="~/Content/easyui/tts.easyui.theme.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
@helper RenderPermissionParts()
{
    foreach (var p in PermissionData)
    {
        <span>@Html.Partial("../Templates/" + p.Template)</span>
    }
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="ls-panel ls-panel-primary tabindex-panel-tip">
                    <div class="ls-panel-content ls-panel-content-primary tabindex-panel-content">
                        <div class="left">
                            <span class="fa fa-4x fa-comments-o"></span>
                        </div>
                        <div class="right">
                            <div style="font-size:2.3em;text-align:right;">32</div>
                            <div style="text-align:right;">消息</div>
                        </div>
                    </div>
                    <div class="ls-panel-footter ls-panel-footter-primary tabindex-panel-footter">
                        <span class="left" style="font-size:.5em;">详细>></span>
                        <span class="fa fa-arrow-circle-o-right right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="ls-panel ls-panel-yellow tabindex-panel-tip">
                    <div class="ls-panel-content ls-panel-content-yellow tabindex-panel-content">
                        <div class="left">
                            <span class="fa fa-4x fa-bell"></span>
                        </div>
                        <div class="right">
                            <div style="font-size:2.3em;text-align:right;">32</div>
                            <div style="text-align:right;">警告</div>
                        </div>
                    </div>
                    <div class="ls-panel-footter ls-panel-footter-yellow tabindex-panel-footter">
                        <span class="left" style="font-size:.5em;">详细>></span>
                        <span class="fa fa-arrow-circle-o-right right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="ls-panel ls-panel-red tabindex-panel-tip">
                    <div class="ls-panel-content ls-panel-content-red tabindex-panel-content">
                        <div class="left">
                            <span class="fa fa-4x fa-bell"></span>
                        </div>
                        <div class="right">
                            <div style="font-size:2.3em;text-align:right;">666</div>
                            <div style="text-align:right;">错误</div>
                        </div>
                    </div>
                    <div class="ls-panel-footter ls-panel-footter-red tabindex-panel-footter">
                        <span class="left" style="font-size:.5em;">详细>></span>
                        <span class="fa fa-arrow-circle-o-right right"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="ls-panel ls-panel-green tabindex-panel-tip">
                    <div class="ls-panel-content ls-panel-content-green tabindex-panel-content">
                        <div class="left">
                            <span class="fa fa-4x fa-bell"></span>
                        </div>
                        <div class="right">
                            <div style="font-size:2.3em;text-align:right;">322</div>
                            <div style="text-align:right;">总量</div>
                        </div>
                    </div>
                    <div class="ls-panel-footter ls-panel-footter-green tabindex-panel-footter">
                        <span class="left" style="font-size:.6em;">详细>></span>
                        <span class="fa fa-arrow-circle-o-right right"></span>
                    </div>
                </div>
            </div>
            @RenderPermissionParts()
        </div>
    </div>








    @*@Html.Partial("../Templates/SellFetchCharts")*@


</body>
</html>
