@using Example.Dto.Business.Sys.ActionManage
@model QueryConditionDto
<table>
    <tr>
        <td>@Html.LabelFor(t => t.ActionName)</td>
        <td>@Html.TextBoxFor(t => t.ActionName, new { @class = "easyui-textbox",@placeholder = "操作名称" })</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
