@using Example.Dto.Business.Sys.MenuManage
@model QueryConditionDto
<table>
    <tr>
        <td>@Html.LabelFor(t => t.Name)</td>
        <td>@Html.TextBoxFor(t => t.Name, new { @class = "easyui-textbox", placeholder = "菜单名称" })</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>
